# =========================
# ModelSim
# =========================
sim/modelsim/work/
sim/modelsim/*.mpf
sim/modelsim/*.wlf
*.vcd
*.mti
*.cr.*
transcript

# =========================
# Vivado
# =========================
.Xil/
*.jou
*.log
*.pb
*.str
*.dcp
*.cache
*.hw
*.runs/
*.sim/
*.ip_user_files/
*.gen/

# Vivado temporary/runtime files
*.wdf
*.rst
*.rpx
*.vds
*.xml

# =========================
# General
# =========================
*.bak
*.tmp
Thumbs.db
.DS_Store